{{#if (eq @type 'leaves')}}
  <button
    class='action {{if @tree.growLeaves.isRunning 'disabled'}}'
    {{on 'click' @tree.growLeaves.perform}}
    disabled={{@tree.growLeaves.isRunning}}
  >
    Grow Leaves
  </button>
{{else if (eq @type 'mass')}}
  <button
    class='action {{if @tree.growMass.isRunning 'disabled'}}'
    {{on 'click' @tree.growMass.perform}}
    disabled={{@tree.growMass.isRunning}}
  >
    Grow Mass
  </button>
{{else if (eq @type 'water')}}
  <button
    class='action {{if @tree.absorbWater.isRunning 'disabled'}}'
    {{on 'click' @tree.absorbWater.perform}}
    disabled={{@tree.absorbWater.isRunning}}
  >
    Store Water
  </button>
{{else}}
  <div class='empty-action'></div>
{{/if}}