{{#if (eq @type 'leaves')}}
  <button
    class='action
      {{if (or @tree.growLeaves.isRunning @tree.hasNoPoints) 'disabled'}}'
    {{on 'click' @tree.growLeaves.perform}}
    disabled={{or @tree.growLeaves.isRunning @tree.hasNoPoints}}
  >
    Grow Leaves
  </button>
{{else if (eq @type 'mass')}}
  <button
    class='action
      {{if (or @tree.hasNoPoints @tree.growMass.isRunning) 'disabled'}}'
    {{on 'click' @tree.growMass.perform}}
    disabled={{or @tree.hasNoPoints @tree.growMass.isRunning}}
  >
    Grow Mass
  </button>
{{else if (eq @type 'water')}}
  <button
    class='action
      {{if (or @tree.hasNoPoints @tree.absorbWater.isRunning) 'disabled'}}'
    {{on 'click' @tree.absorbWater.perform}}
    disabled={{or @tree.hasNoPoints @tree.absorbWater.isRunning}}
  >
    Store Water
  </button>
{{else if (eq @type 'roots')}}
  <button
    class='action
      {{if (or @tree.hasNoPoints @tree.growRoots.isRunning) 'disabled'}}'
    {{on 'click' @tree.growRoots.perform}}
    disabled={{or @tree.hasNoPoints @tree.growRoots.isRunning}}
  >
    Grow Roots
  </button>
{{else}}
  <div class='empty-action'></div>
{{/if}}