<div class='bar'>
  <label>{{@label}} {{format-float @amount}} / {{format-float @maxVal}}</label>
  <svg
    width='100%'
    height='10px'
    style='background: pink'
    {{did-insert this.onInsert}}
    {{did-update this.doUpdate @amount @maxVal}}
  ></svg>
</div>
{{!-- <svg style='background: pink' {{did-insert this.originalOnInsert}}></svg> --}}