<div class='sidebar'>
  <BarChart @label='PhP' @maxVal={{100}} @amount={{this.game.tree.php}} />
  <BarChart
    @label='Water'
    @maxVal={{this.game.tree.waterStorageTotal}}
    @amount={{this.game.tree.waterStored}}
  />
  Water table:
  {{format-float this.game.tree.waterTable}}
  m<br />
  Root depth:
  {{format-float this.game.tree.rootDepth}}
  m<br />

  {{#if this.game.runSeason.isRunning}}
    <h4>Day {{this.game.day}} of 20</h4>
    Temp:
    {{format-float this.game.locale.temp 0}}°F<br />
    Rain:
    {{format-float this.game.locale.rain}}"<br />
    Sun:
    {{format-float this.game.locale.sunshine}}
    hrs<br />
    <button {{on 'click' this.pause}}>Pause</button>
  {{else}}
    <div>
      <h4>End of season stats:</h4>
      Total rain:
      {{format-float this.game.locale.totalRain}}<br />
      Total sun:
      {{format-float this.game.locale.totalSun}}<br />
      Event count:
      {{this.game.locale.eventCount}}
    </div>
    <button {{on 'click' this.runSeason}}>Run season</button>
    <button {{on 'click' this.nextSeason}}>Next season</button>
  {{/if}}
</div>