{{#if this.game.runSeason.isRunning}}
  Day
  {{this.game.clock}}<br />
  <Thermometer @temperature={{this.game.locale.temp}} />
  {{format-float this.game.locale.rain}}" rain<br />
  {{format-float this.game.locale.sunshine}}
  hrs of Sun
  <button {{on 'click' this.pause}}>Pause</button>
{{else}}
  <div>
    <strong>End of season stats:</strong>
    <br />
    Total rain:
    {{format-float this.game.locale.totalRain}}<br />
    Total sun:
    {{format-float this.game.locale.totalSun}}
  </div>
  <button {{on 'click' this.runSeason}}>Run season</button>
  <button {{on 'click' this.nextSeason}}>Next season</button>
{{/if}}